/* styling HTML tags with mixin feature */
@mixin body_margin {
    margin-left: 10px;
    margin-right: 10px;
}

body {
    @include body_margin();
}

@mixin div_margin {
    margin-left: 15px;
    margin-right: 15px;
}

div {
    @include div_margin();
}
